@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josefin Sans, sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: static;
    z-index: -1;
    height: 120px;
    width: 120px;
}

header .navigation a{
    color: rgb(0, 0, 0);
    overflow: hidden;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.3s;
    float: left;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    color:#000000;
    background: #7692FF;
}

header .navigation a.active{
    background:#091540;
    color: white;
}

.content .info-btn{
    color: white;
    background: #3D518C;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 12px 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 3px 3px black;
}

.content .info-btn:hover{
    background: #ABD2FA;
}

label {
    display: none;
}

#check {
    z-index: 3;
    display: none;
}

/* responsive styles */

@media (max-width: 960px){
    header .navigation{
    display: none;
}

section {
    font-size: 14px;
    text-align: center;
    
}

label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

label:hover{
    color:white;
}

label .close-btn{
    display: none;
}

#check:checked ~ header .navigation{
    z-index: 2;
    position: fixed;
    background: rgb(114, 223, 255, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#check:checked ~ header .navigation a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

#check:checked ~ header label .menu-btn{
    display: none;
}

#check:checked ~ header label .close-btn{
    z-index: 2;
    display: block;
    position: fixed;
}

label.menu-btn{
    position: absolute;
}

header .wakeboard{
    position: absolute;
    bottom: -6px;
}

.vcontainer{
    position: absolute;
    display: flex;
    justify-content: center;
    height: -100px;
}

.vcontainer .video1{
    height: 200px;
    padding-right: 30px;
    padding-bottom: 10px;
}

}

/* info html */

.container{
    display:flex;
    background-color: white;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    position: relative;
    align-items: center;
}

.box {
    background-color: rgb(255, 255, 255);
    width: 370px;
    height: 370px;
    margin: 100px;
    transition: 1s;
}

.box:hover{
    transform:scale(1.3);
    z-index: 2;
}

.boximage1 {
    background-image: url(image/about1.jpg);
    height: 320px;
    width: 320px;
    margin-bottom: 25px;
    background-size: 100% 100%;
    box-shadow: 10px 10px 10px;
}

.boximage2 {
    background-image: url(image/about2.jpg);
    height: 320px;
    width: 320px;
    margin-bottom: 25px;
    background-size: 100% 100%;
    box-shadow: 10px 10px 10px;
}

.boximage3 {
    background-image: url(image/about3.jpg);
    height: 320px;
    width: 320px;
    margin-bottom: 25px;
    background-size: 100% 100%;
    box-shadow: 10px 10px 10px; 
}

.box p{
    margin-top: 15px;
    opacity: 70%;
}
    


.aboutinfo1 h2 {
    color: #6686e9;
    text-align: center;
    font-family: Josefin Sans, sans-serif;
    font-size: 55px;
    text-shadow: 5px -1px #474747;
}

.aboutinfo1 p{
    text-align: center;
    justify-content: center;
    font-weight: 500;
    margin: 20px;
}

.vcontainer{
    display:flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: wrap;
    position: relative;
    align-items: center;
    margin-top: 35px;
    background-image: url(image/border1.png);
    background-repeat: no-repeat;
    height: 500px;
    background-size: 100% 100%;
}

/* VIDEO CONTAINER */

.vcontainer .video1{
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding-left: 30px;
    height: 444px;

}


/* VIDEO CONTAINER */

/* Footer */


.footer{
    position: relative;
    bottom: 0;
}

@media (max-height:800px){
    footer{
        position: static;
    }

    header{
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    text-align: left;
    font: 16px;
    padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right,
.footer-distributed .media-icons{
    display: inline-block;
    vertical-align: top;
}

.footer-left{
    width: 30%;
}

.footer-distributed h3{
    color: #fff;
    font: normal 36px;
    margin: 0;
}

.footer-distributed h3 span{
    color: #5e7ace;
}

.footer-links{
    color: #fff;
    margin: 20px 0 12px;
}

.footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-marvstest{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-center{
    width: 35%;
    margin-bottom: 10px;
}

.footer-center i{
    background-color: #33383b;
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-center i.fa-map-marker-alt{
    font-size: 17px;
    line-height: 38px;
}

.footer-center p{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0;
}

.footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-right{
    width: 30%;
}

.footer-company-about{
    line-height: 20px;
    color: #92999f;
    font-weight: normal;
    font-size: 13px;
    margin: 0;
}

.footer-company-about span{
    display: block;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
}

.media-icons{
    margin-top: 25px;
}

.media-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.media-icons a:hover{
    background-color: #5e7ace;
}

.footer-links a:hover{
    background-color: #5e7ace;
}

@media (max-width: 880px){
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right,
    .footer-distributed .media-icons{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        align-items: center;
    }

    .footer-center{
        margin-left: -30px;
    }

}



